<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>

    <!-- Hamburger -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- Left -->
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <!-- Center Search -->
      <div class="navbar-nav mx-auto flex-grow-1 justify-content-center">
        <form action="/listings/search" method="GET" class="d-flex w-100 justify-content-center">
          <div class="search-bar-set">
            <div class="search-section">
              <label for="destination">Where</label>
              <input type="text" id="destination" name="destination" placeholder="Search destinations">
            </div>
            <div class="search-section">
              <label for="checkin">Check in</label>
              <input type="text" id="checkIn" name="checkin" placeholder="Add dates">
            </div>
            <div class="search-section">
              <label for="checkout">Check out</label>
              <input type="text" id="checkOut" name="checkout" placeholder="Add dates">
            </div>

            <button class="btn search-btn-set mt-2" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </form>
      </div>

      <!-- Right Auth -->
      <div class="navbar-nav ms-auto">
        <a class="nav-item nav-link" href="/listings/new">Become a Host</a>
        <% if(!currUser) { %>
          <a class="nav-item nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-item nav-link" href="/login"><b>Log in</b></a>
        <% } %>
        <% if(currUser) { %>
          <a class="nav-item nav-link" href="/bookings">My Bookings</a>
          <a class="nav-item nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
